doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Student Course Portal
      nav
        a(href="/") Home |
        a(href="/students") View Students |
        a(href="/courses") View Courses
    hr
    block content
